$primary: #08120c;
$secondary: lime;
$tertiary: yellow;
$content: black;
$title: darkgreen;
$header: lime;

$space: 1.5rem;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: $content;
  font-size: 18px;
}

.container {
  max-width: 75rem + $space * 2;
  margin: 0 auto;
  padding-left: $space;
  padding-right: $space;
}

header {
  background: $primary;
  padding-top: $space;
  padding-bottom: $space;
  color: $header;

  h1 {
    color: $secondary;
  }

  h2 {
    color: $tertiary;
  }

  h3 {
    color: $header;
  }

  a {
    color: $tertiary;
  }
}

.nav {
  margin-top: $space;
}

.horizontal-list {
  display: flex;
  justify-content: space-between;
  gap: $space;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $space;
  margin-bottom: $space;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p,
ul {
  &:last-child {
    margin-bottom: 0;
  }
}

h4,
h5,
h6 {
  color: $title;
}

h3 {
  background: $primary;
  color: $header;
  display: inline-block;
}

a {
  color: $primary;
}

.row {
  display: flex;
  gap: $space;
  margin-bottom: $space;

  &:last-child {
    margin-bottom: 0;
  }
}

.column {
  flex: 1 1 0;
}

$section-even: white;
$section-odd: #f3f3f3;

article {
  padding: $space 0;
}

section {
  padding: $space 0;
}

.even {
  background: $section-even;
}

.odd {
  background: $section-odd;
}

.page-break {
  page-break-before: always;
}

.work-section {
  padding-bottom: 0
}

