$primary: #374438;
$secondary: #9AAB89;
$tertiary: #939C97;
$content: black;

$space: 1.5rem;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  color: $content;
  font-size: 16px;
}

.container {
  max-width: 75rem + $space * 2;
  margin: 0 auto;
  padding-left: $space;
  padding-right: $space;
}

header {
  background: $primary;
  padding-top: $space;
  padding-bottom: $space;
  color: #BDC6BF;

  h1 {
    color: $secondary;
    text-align: center;
  }

  h2 {
    text-align: center;
    color: $tertiary;
  }

  h3 {
    color: #BDC6BF;
  }

  a {
    color: $tertiary;
  }
}

.nav {
  margin-top: $space;
}

.horizontal-list {
  display: flex;
  justify-content: space-between;
  gap: $space;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $space;
  margin-bottom: $space;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p,
ul {
  &:last-child {
    margin-bottom: 0;
  }
}

h3,
h4,
h5,
h6 {
  color: $primary;
}

a {
  color: $primary;
}

.row {
  display: flex;
  gap: $space;
  margin-bottom: $space;

  &:last-child {
    margin-bottom: 0;
  }
}

.column {
  flex: 1 1 0;
}

$section-even: #f3f3f3;
$section-odd: white;

article {
  padding: $space 0;
}

section {
  padding: $space 0;
}

.even {
  background: $section-even;
}

.odd {
  background: $section-odd;
}

.page-break {
  page-break-before: always;
}
